@import "tailwindcss";

@theme {
  --color-back: #001010;
  --color-text: #e8f3f1;
  --color-accent: #00a98b;

  --breakpoint-pc: 50rem;
  --spacing-max-width: 120rem;
}

@layer base {
  ::selection {
    @apply bg-text text-back;
  }

  * {
    @apply text-text;
  }

  .dark ::selection {
    @apply bg-text text-back;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-back min-h-dvh overflow-x-hidden;
  }
}

@layer components {
  .nav-less-item {
    @media (width < 50rem) {
      @apply hover:translate-x-2 p-2 w-full block rounded-lg px-4;
    }
  }
}

@layer utilities {
  .small-caps {
    font-variant: small-caps;
  }
}

@custom-variant dark (&:where(.dark, .dark *));
