@import "tailwindcss";

@theme {
  --color-back: #e8f3f1;
  --color-text: #001010;
  --color-accent: #05a98b;

  --color-back-dark: #001010;
  --color-text-dark: #e8f3f1;
  --color-accent-dark: #00a98b;
}

@layer base {
  ::selection {
    @apply bg-text text-back;
  }

  .dark ::selection {
    @apply bg-text-dark text-back-dark;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-back dark:bg-back-dark min-h-dvh;
  }
}

@layer components {
  .nav-less-item {
    @media (width < 40rem) {
      @apply hover:translate-x-2 p-2 w-full block rounded-lg px-4;
    }
  }
}

@layer utilities {
  .small-caps {
    font-variant: small-caps;
  }
}

@custom-variant dark (&:where(.dark, .dark *));
