@import "tailwindcss";

@theme {
  /* Brand Core */
  --color-primary: #101828; 
  --color-secondary: #8b5cf6; 
  /* Surfaces */
  --color-back: #f9fafb; 
  --color-card: #ffffff; 

  /* Text */
  --color-heading: #0f172a; 
  --color-text: #334155; 
  --color-muted: #64748b;      
  /* Borders & Lines */
  --color-border: #e5e7eb;

  /* Status */
  --color-success: #16a34a;
  --color-warning: #eab308;
  --color-error: #dc2626;
  --color-accent: #22d3ee; 
}


::selection {
  background-color: var(--color-accent);
  color: var(--color-card);
  --color-primary: #101828; 
  --color-secondary: #8b5cf6; 
  /* Surfaces */
  --color-back: #f9fafb; 
  --color-card: #ffffff; 

  /* Text */
  --color-heading: #0f172a; 
  --color-text: #334155; 
  --color-muted: #64748b;      
  /* Borders & Lines */
  --color-border: #e5e7eb;

  /* Status */
  --color-success: #16a34a;
  --color-warning: #eab308;
  --color-error: #dc2626;
  --color-accent: #22d3ee; 
}

html {
  scroll-behavior: smooth;
}